<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TSP MPI</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal content-->
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="loginLabel">Panel logowania</h4>
          </div>
          <div class="modal-body">
              {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}
                  <ul>
                      {%  for msg in errors %}
                          <li>{{ msg }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
              {% endwith %}


              <form class="form-signin" action="{{ url_for('login') }}" method="post">
                <label for="inputEmail" class="sr-only">Adres email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Adres email" required autofocus>
                <label for="inputPassword" class="sr-only">Haslo</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
                <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Zapamiętaj
              </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            </form>
          </div>
          <div class="modal-footer">
                <button data-dismiss="modal" data-toggle="modal" data-target="#registerModal" class="btn btn-lg btn-danger btn-block" type="submit">Zarejestruj</button>
          </div>
        <!--END MODAL CONTENT-->
        </div>
      </div>
    </div>


    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal content-->
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="registerLabel">Rejestracja</h4>
          </div>
          <div class="modal-body">
              <form class="form-signin">
                <label for="inputEmail" class="sr-only">Adres email</label>
                <input type="email" id="inputEmail2" class="form-control" placeholder="Adres email" required autofocus>
                <label for="inputPassword" class="sr-only">Haslo</label>
                <input type="password" id="inputPassword1" class="form-control" placeholder="Hasło" required>
                <input type="password" id="inputPassword2" class="form-control" placeholder="Powtórz hasło" required>
            </form>
          </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
            </div>
        <!--END MODAL CONTENT-->
        </div>
      </div>
    </div>



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="index.html">TSP MPI</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">O Projekcie</a>
                    </li>
                    <li>
                        <a href="tsp.html">Wypróbuj</a>
                    </li>
                    <li>
                        {% if g.user.is_authenticated() %}
                            <a href="{{ url_for('logout') }}">Wyloguj</a>
                        {% else %}
                            <a data-toggle="modal" href="#loginModal">Zaloguj</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->


    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Równoległy problem komiwojażera</h1>
                        <h3>Projekt realizowany w ramach zajęć Aplikacje internetowe i rozproszone</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="tsp.html" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-play"></i> <span class="network-name">Wypróbuj</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="about"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Wykorzystane algorytmy</h2>
                    <p class="lead">W naszym projekcie postanowiliśmy wykorzystać algorytm xxx w wersji równoległej. Aby przetestować jego działanie prosimy o zalogowanie się. Miłej zabawy.</p>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

	
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#about">O projekcie</a>
                        </li>
                        <!--<li class="footer-menu-divider">&sdot;</li>-->

                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; TSP MPI 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <!--Custom js-->
    <script src="static/js/custom.js"></script>

</body>

</html>
