{% extends "base.html" %}
{% block body %}
<div class="modals">
<!-- Modal -->

</div>
    <!-- Page Content -->

        <a  name=""></a>
    <div id="alg-top" class="content-section-b">
        <div class="container">
            <div class="pointer"><span class="h1">Wypróbuj algorytm</span><div class="right">
            <span class="h5">
            Aktywne zadania:
                <span id="active-tasks">0</span> Pracuje: <span id="working-tasks">0</span></span></div></div>
                <div class="algorithm">
                    <div id ="algorithm1">
                    </div>
                <button type="button" id="next-1" class="btn btn-default next-task">Nowe zadanie</button>
                </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a  name=""></a>
    <div class="content-section-a">

        <div class="container">

            <h2>Instrukcja działania aplikacji </h2>
            <h4>Niniejża aplikacja pozwala na obliczenie najkrótszej trasy komiwojażera wykorzystując algorytm symulowanego wyżarzania</h4>
            <ol>
                <li>Kliknij na pole 'wypróbuj algorytm' aby rozwinąć listę zadań</li>
                <li>Dodaj nowe zadanie</li>
                <li>Naciśnij przysisk przeglądaj aby wybrać plik tekstowy ze współrzędnymi punktów miast
                   <ul>
                        <li><strong>Format pliku jest następujący</strong></li>
                        <li>Ilość punktów</li>
                        <li>WspółrzędnaPierwszegoPunktuX WspółrzędnaPierwszegoPunktuY</li>
                        <li>...</li>
                        <li>WspółrzędnaN-tegoPunktuX WspółrzędnaN-TegoPunktuY</li>
                        <li><strong>Przykład dla 3 punktów</strong></li>
                        <li>3</li>
                        <li>1 1</li>
                        <li>5 5</li>
                        <li>8 10</li>
                   </ul>
                </li>
                <li>Nacisnij przycisk rozpocznij algorytm</li>
                <li>Możesz zwizualizować wprowadzone punkty</li>
                <li>Możesz równiez wyświetlić punkty po przerobieniu przez algorytm</li>
                <li>Dodaj nowe zadanie</li>
            </ol>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
        <script src="static/js/task.js"></script>
{% endblock %}