{% extends "base.html" %}
{% block body %}
<div class="modals">
<!-- Modal -->

</div>
{#<div class="modal fade" id="input1-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        <h4 class="modal-title" id="myModalLabel">Twoje punkty wejściowe</h4>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <canvas class="myCanvas" id="canvas1-1" width="300" height="300">#}
{##}
{#        </canvas>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#         <button type="button" id ="draw1-1" class="btn btn-primary pull-left draw">Rysuj ściezkę</button>#}
{#        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
    <!-- Page Content -->

        <a  name=""></a>
    <div id="alg-top" class="content-section-b">
        <div class="container">
            <div class="pointer"><span class="h1">Wypróbuj algorytm</span><div class="right">
            <span class="h5">
            Aktywne zadania:
                <span id="active-tasks">0</span> Pracuje: <span id="working-tasks">0</span></span></div></div>
                <div class="algorithm">
                    <div id ="algorithm1">
                    </div>
                <button type="button" id="next-1" class="btn btn-default next-task">Nowe zadanie</button>
                </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a  name=""></a>
    <div class="content-section-a">

        <div class="container">

            <h2 class="pointer">Wybierz swoje współrzędne </h2>
            <div class="algorithm">
                <div class="row col-md-6">
                    <div class="progress">
                        <div class="progress-bar" id="getProgressBar" role="progressbar" aria-valuenow="1"
                            aria-valuemin="0" aria-valuemax="100" style="width:1%">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
        <script src="static/js/task.js"></script>
{% endblock %}